/* Set the maximum width for the page content */
main {
    max-width: 960px;
    margin: 0 auto;
}

/* Style the header section */
header {
    background-color: #456990;
    color: white;
    text-align: center;
    padding: 1em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Menu */

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/* Student Profiles */
/* Style the student profiles */
.student-profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 0;
}

.student-profile {
    flex-basis: calc(20% - 20px);
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.student-profile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.student-profile h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.student-profile p {
    margin: 0;
    font-size: 14px;
}

.student-profile img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1em;
}

@media (max-width: 768px) {
    .student-profile {
        flex-basis: calc(33.33% - 20px);
    }
}

@media (max-width: 480px) {
    .student-profile {
        flex-basis: calc(50% - 20px);
    }
}

/* Title */
.title {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* The Modal (background) */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: scroll;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}